---
import Button from '../../components/Common/Button';
import MainLogo from '../../components/Common/MainLogo';
import MobileTopbar from './MobileTopbar';

const links = ['/templates', '#pricing'];
---

<main class='flex w-full items-center justify-center'>
  <nav
    class='border-tertiary fixed top-6 z-[999] mx-auto flex w-[90%] items-center justify-between rounded-full border bg-white p-4 pl-6 pr-5 md:max-w-[80%] lg:p-6 lg:pl-10 lg:pr-8'
  >
    <MainLogo withText={false} align='start' className='!w-fit' />

    <div class='hidden items-center justify-center gap-1 lg:flex'>
      {
        links.map((link) => (
          <a
            href={`${link}`}
            class='hover:bg-default hover:border-tertiary rounded-full border border-transparent px-2 text-base capitalize transition-all hover:py-1.5 lg:px-6 lg:text-lg lg:hover:py-3'
          >
            {link.slice(1)}
          </a>
        ))
      }
    </div>

    <div class='hidden gap-4 text-base md:flex lg:text-lg'>
      <a href='/login'>
        <Button accent='outline' size='lg' isRounded={false} className='hover:px-12'>
          Login
        </Button>
      </a>
      <a href='/signup'>
        <Button color='tertiary' size='lg' className='hover:px-12'>
          Sign up free
        </Button>
      </a>
    </div>
    <MobileTopbar links={links} client:load />
  </nav>
</main>
